# 应用
SCX_APP_ENV=dev
SCX_APP_HOST=0.0.0.0
SCX_APP_PORT=8000
SCX_LOG_LEVEL=INFO

# 数据库（PostgreSQL）
SCX_DB_HOST=127.0.0.1
SCX_DB_PORT=5433
SCX_DB_USER=postgres
SCX_DB_PASSWORD=postgres
SCX_DB_NAME=scx-stock
SCX_DB_ECHO=false

# 缓存（Redis）
SCX_REDIS_HOST=127.0.0.1
SCX_REDIS_PORT=6379
SCX_REDIS_DB=0
# SCX_REDIS_PASSWORD=

# 数据源
SCX_DEFAULT_PROVIDER=akshare
SCX_REQUEST_TIMEOUT=10

# 限流
SCX_AI_RATE_LIMIT_PER_MINUTE=20
